body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f3eeea;
}

#img-random {
    width: 450px;
    height: 400px;
    object-fit: contain;
}

.container {
    width: 400px;
    border-bottom: 8px;
    margin: 60px auto;
    padding: 20px;
    padding-top: 5px;
    border-radius: 8px;
}

.btn {
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
    right: 250px;
}

.heading {
    text-align: center;
    color: #31304d;
    border: 1px solid #b6bbc4;
    font-family: "Montserrat-Bold";
    font-size: 4rem;
    line-height: 1.5;
    margin: 15px 10px 0 10px;
}